{{!-- iterates through an array of comments (with the Comment identifier), and displays each comment --}}
<div id="container comment-container card-container">
    {{#each Comment}}
    <div class="card comment">
        <div class="card-body">
            <p>Comment:</p>
            <p class="card-text">{{body}}</p>
        </div>
    </div>
    {{/each}}
    </section>

    {{!-- allows users to submit new comments. --}}

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Add Comment</h3>
            <form id="newComment">
                <div class="card-text"></div>
                {{!-- <input id="hiddenCommentId" hidden="true" value="{{id}}"></input> --}}
                <textarea id="hiddenCommentId" hidden="true">{{id}}</textarea>
                <textarea class=" form-input" id="comment" type="text"
                    placeholder="Type your comment here..."></textarea>
                <button class="btn submitBtn" type="submit" data-id="{{id}}" id="newCommentButton">Submit</button>
            </form>
        </div>
    </div>

    {{!-- Update comment --}}
    <div class="card comment">
        {{#each comments}}
        <div class="card-header">
            <p>{{message}}</p>
            <p class="card-text">{{body}}</p>
            <form class="updateCommentForm">
                <textarea type="hidden" name="comment_id">{{id}}</textarea>
                <div class="form-group">
                    <div class="form-group card-body">
                        <label for="body">Comment:</label>
                        <textarea class="form-control comment-content" name="message">{{message}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary update-btn">Update</button>
                    <button type="button" class="delete-post-btn btn" id="delete-post-button">Delete Post</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/comment.js"></script>
{{!--
<script src="/js/editComment.js"></script>
<script src="/js/deleteComment.js"></script> --}}