<header>
    <h1 class="dash-header">Welcome to the Most Technologically </br>Savvy Blog on the Web!</h1>
</header>
</br>
<main>
    {{#if posts}}
    <h2 class="your-post-title">Your Posts:</h2>
    {{#each posts}}
    <ul>
        <div class="card dash-card">
            <h3 class="card-header dash-post-title"><a href="/dashboard/edit/{{id}}">{{title}}</a></h3>
            <p class="dash-content">{{content}}</p>
            <p class="dash-user card-subtitle  mb-2 text-muted">- Posted by {{user.username}} on {{format_date
                date_created}}</p>
        </div>
        <div id="dash-comments">
            <ul>
                {{#each comments}}
                <li class="comment-list">" {{comment_text}} " - {{user.username}}</li>
                {{/each}}
            </ul>
        </div>
        </br>
        {{/each}}

    </ul>
    {{else}}
    <p>You haven't added any inventory yet.</p>
    {{/if}}
    </br>
    <button type="submit" class="btn button" id="dash-new-post-btn">+ New Post</button>


</main>
<script src="/js/dashboard.js"></script>