{{!-- {{#if loggedIn}} --}}
<div class="container-fluid  new-post-container">


    {{#if loggedIn}}
    <div class="inventory-header">
        <h3>Cheers, {{username}}!</h3>
        <button class="btn modal-button" id="openAddInventoryButton">Add to Inventory</button>
    </div>
    {{/if}}
    <div class="flex-container">
        {{!-- CABINET --}}
        <div class="cabinet-container">

            <div class="inventory-cabinet">
                {{!-- cabinet 1 --}}
                <div class="drawer"><img id="drawer0" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer1" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer2" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer3" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer4" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer5" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer6" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer7" style="visibility:hidden" class="cabinet-image" /></div>
                <div class="drawer"><img id="drawer8" style="visibility:hidden" class="cabinet-image" /></div>
            </div>
            {{!-- cabinet 2 --}}
            {{!-- <div class="inventory-cabinet">
                <div class="drawer"></div>
                <div class="drawer"></div>
                <div class="drawer"></div>
                <div class="drawer"></div>
                <div class="drawer"></div>
                <div class="drawer"></div>
                <div class="drawer"></div>
                <div class="drawer"></div>
                <div class="drawer"></div>
            </div> --}}

        </div>



        {{!-- INVENTORY LIST --}}
        {{#if loggedIn}}

        {{!-- <table class="table table-dark"> --}}
            <div id="tableContainer" class="table-container">
                <table class="table table-dark flex-table" id="inventoryTable">
                    <thead>
                        <tr>
                            <th scope="col">&#x2605;</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Size</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if inventory}}
                        {{#each inventory}}
                        <tr>
                            <td>{{#if favorite}}&#x2605;{{else}}{{/if}}</td>
                            <td>{{liquors.0.name}}</td>
                            <td>{{liquors.0.volume}}</td>
                            <td>{{liquors.0.description}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
            {{/if}}
    </div>

    {{!-- COMMENTS --}}
    {{!-- <div class="comment-container mt-5">
        <div class="container-fluid vh-100 new-post-container" style="margin-top:300px">
            <div class="text-center">
                <h3 class="cheers-cont-title">Cheers to Comments!</h3>
                </br>
                <div id="dash-comments">
                    <ul>
                        {{#each comments}}
                        <li class="comment-list">" {{comment_text}} " - {{user.username}}</li>
                        {{/each}}
                    </ul>
                </div>
                </br>
                <div class="home-card card">
                    <div class="card-body">
                        <div class="card-header">
                            <a id="home-post-info" class="card-title" href="/posts/{{id}}">{{title}} - {{format_date
                                date_created}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br>
    <p>No comments have been created yet.</p>
</div> --}}

{{!-- </br>
</br> --}}
{{!-- FUTURE DEVELOPMENT --}}
{{!-- <H2>Future Development</H2>
<div class="cheers-container">
    <h3 class="">Check Your Cheers</h3>
    <img src="./images/cheers.gif" class="cheers-gif" />
    <p id="total-cheers">Cheers Check: (cheers total #)<img src="./images/cheersIcon.png" class="cheers-icon" />
    </p>
    <p>Cheers Your Friends!</p>
    <button class="btn cheers-btn" type="submit">Cheers!</button>
</div>
</br>
</br> --}}


{{!-- Add Inventory Modal --}}

</div>
{{#if loggedIn}}
<div class="rounded d-flex justify-content-center inventory-container" style="transform:translateX(100%);">
    <div class=" col-md-4 col-sm-12 shadow-lg p-5 add-inventory-container " id=" inventory-card">
        <div class="text-center">
            <h3 id="inventory-title">Add To Inventory</h3>
        </div>
        <div class="p-4">
            <select type="text" class="form-control" name="liquorSelect" id="liquorSelect">

            </select>
            <div class="input-group mb-3 title-text-add">

            </div>
            <p id="liquorDescription" class="add-liquor-description"></p>
            </br>
            <img src="./images/bar-logo.png" class="d-block w-100 img-fluid" alt="image">
            <img id="liquorImage" class="add-liquor-image" />
            </br>

            <div class="form-check form-switch modal-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="addFavorite">
                <label class="form-check-label" for="addFavorite">Favorite</label>
            </div>

            </br>
            <div class="d-grid col-12 mx-auto">
                <button class="btn modal-button" id="add-post-button" type="button" disabled>
                    Add</button>
            </div>
            </br>


            <button class="btn modal-close-button" id="add-close-button" type="button">
                X</button>

            {{!-- Add in cheers functionality to button? or animate something on the screen to say cheers when you add a
            thing --}}
        </div>
        {{!-- <div class="col-md-4 d-sm-none d-md-block"></div> --}}
        {{!-- {{#if loggedIn}} --}}
        {{!-- <p id="inventory-link">Go to your <a href="/inventory" class="inv-link">Liquor
                Cabinet</a> </p> --}}
        {{!-- {{/if}} --}}
    </div>
</div>
{{/if}}
{{#if loggedIn}}
<script src="/js/homePage.js"></script>
{{/if}}